.btn{
  display: inline-flex;
}
 .btn-success{
    background-color:$green-1 ;
        text-transform: uppercase;
        transition: 0.2s;
        padding: 12px 28px;
        color: white;
       box-shadow: 0px 10px 30px 0px rgba(2, 173, 136, 0.4);
 } 
 .btn-success:hover{
    background-color:$green-hov ;
 }
 .btn-rounded{
    border-radius: 40px;
 }